<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en" dir="rtl"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" dir="rtl"> <!--<![endif]-->


<!-- Mirrored from altair_html_rtl.tzdthemes.com//plugins_datatables.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Apr 2019 21:09:02 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <title>پنل مدیریتی تورآسو</title>


    <!-- uikit rtl -->
    <link rel="stylesheet" href="/assets/css/uikit.rtl.css" media="all">

    <!-- flag icons -->
    <link rel="stylesheet" href="/assets/icons/flags/flags.min.css" media="all">


    <!-- altair admin -->
    <link rel="stylesheet" href="/assets/css/main.min.css" media="all">

    <!-- themes -->
    <link rel="stylesheet" href="/assets/css/themes/themes_combined.min.css" media="all">

    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="/bower_components/matchMedia/matchMedia.js"></script>
        <script type="text/javascript" src="/bower_components/matchMedia/matchMedia.addListener.js"></script>
        <link rel="stylesheet" href="/assets/css/ie.css" media="all">
    <![endif]-->

</head>
<body class="disable_transitions sidebar_main_open sidebar_main_swipe">
    <!-- main sidebar -->
    <aside id="sidebar_main">


        <div class="menu_section">
            <ul>
                <li title="Dashboard">
                    <a href="/panel/dashboard">
                        <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                        <span class="menu_title">داشبورد</span>
                    </a>
                </li>
                <li class="current_section" title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">&#xE87C;</i></span>
                        <span class="menu_title">کاربران</span>
                    </a>
                    <ul>
                        <li class="act_item"><a href="/panel/users/list">لیست کاربران</a></li>
                        <li><a href="page_chat_small.html">افزودن کاربر جدید</a></li>
                    </ul>

                </li>
                <li title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">location_city</i></span>
                        <span class="menu_title">شهر و استان</span>
                    </a>
                    <ul>
                        <li><a href="page_chat.html">اضافه کردن شهر و استان</a></li>
                        <li><a href="page_chat_small.html">ویرایش شهر و استان</a></li>
                        <li><a href="page_chat_small.html">حذف شهر و استان</a></li>
                    </ul>

                </li>
                <li title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">free_breakfast</i></span>
                        <span class="menu_title">امکانات سفر</span>
                    </a>
                    <ul>
                        <li><a href="page_chat.html">اضافه کردن امکانات سفر</a></li>
                        <li><a href="page_chat_small.html">ویرایش امکانات سفر</a></li>
                        <li><a href="page_chat_small.html">حذف امکانات سفر</a></li>
                    </ul>

                </li>
                <li title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">explore</i></span>
                        <span class="menu_title">تجربه ها</span>
                    </a>
                    <ul>
                        <li><a href="page_chat.html">اضافه کردن تجربه</a></li>
                        <li><a href="page_chat_small.html">ویرایش تجربه</a></li>
                        <li><a href="page_chat_small.html">حذف تجربه</a></li>
                        <li><a href="page_chat_small.html">بازدید تجربه ها به تفکیک</a></li>
                    </ul>

                </li>
                <li title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">accessibility_new</i></span>
                        <span class="menu_title">راهنماهای سفر</span>
                    </a>
                    <ul>
                        <li><a href="page_chat.html">اضافه کردن راهنما</a></li>
                        <li><a href="page_chat_small.html">ویرایش راهنما</a></li>
                        <li><a href="page_chat_small.html">حذف راهنما</a></li>
                        <li><a href="page_chat_small.html">درخواست راهنما</a></li>
                        <li><a href="page_chat_small.html">بازدید راهنماها به تفکیک</a></li>
                    </ul>

                </li>
                <li title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">&#xE0B9;</i></span>
                        <span class="menu_title">نظرات</span>
                    </a>
                    <ul>
                        <li><a href="page_chat.html">اضافه کردن نظر</a></li>
                        <li><a href="page_chat_small.html">ویرایش نظر</a></li>
                        <li><a href="page_chat_small.html">حذف نظر</a></li>
                        <li><a href="page_chat_small.html">بازدید نظرات به تفکیک</a></li>
                    </ul>
                </li>
                <li title="Chats">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">&#xE53E;</i></span>
                        <span class="menu_title">رزرو و درامد</span>
                    </a>
                    <ul>
                        <li><a href="page_chat.html">تعداد رزرو ها به تفکیک</a></li>
                        <li><a href="page_chat_small.html">مبلغ رزرو ها به تفکیک</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside><!-- main sidebar end -->

    <div id="page_content">
        <div id="page_content_inner">

            <h3 class="heading_b uk-margin-bottom">کاربران</h3>
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <table id="dt_default" class="uk-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th rowspan="2">نام</th>
                            </tr>
                            <tr>
                                <th>ایمیل</th>
                                <th>شماره تلفن</th>
                                <th>شهر</th>
                                <th>وضعیت</th>
                                <th>تایید اعتبار</th>
                                <th>تاریخ عضویت</th>
                                <th>اخرین بازدید</th>
                            </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>نام</th>
                            <th>ایمیل</th>
                            <th>شماره تلفن</th>
                            <th>شهر</th>
                            <th>وضعیت</th>
                            <th>تایید اعتبار</th>
                            <th>تاریخ عضویت</th>
                            <th>اخرین بازدید</th>
                        </tr>
                        </tfoot>

                        <tbody>

                        <% users.forEach(user => { %>
                        <tr>
                            <td> <%= user.name %></td>
                            <td> <%= user.email %></td>
                            <td><%= user.phone %></td>
                            <td><%= user.city.name %></td>
                            <td><%= user.isLeader %></td>
                            <td><%= user.phoneVerified %></td>
                            <td><%= user.createdAt %></td>
                            <td><%= user.updatedAt%></td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>


    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <!-- page specific plugins -->
    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables buttons-->
    <script src="/bower_components/datatables-buttons/js/dataTables.buttons.js"></script>
    <script src="/assets/js/custom/datatables/buttons.uikit.js"></script>
    <script src="/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="/bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="/bower_components/datatables-buttons/js/buttons.colVis.js"></script>
    <script src="/bower_components/datatables-buttons/js/buttons.html5.js"></script>
    <script src="/bower_components/datatables-buttons/js/buttons.print.js"></script>

    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables/datatables.uikit.min.js"></script>

    <!--  datatables functions -->
    <script src="/assets/js/pages/plugins_datatables.min.js"></script>
    
</body>

<!-- Mirrored from altair_html_rtl.tzdthemes.com//plugins_datatables.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Apr 2019 21:09:43 GMT -->
</html>